<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <contextName>complii_integration</contextName>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/complii_integration.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>./logs/complii_integration.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread] %logger [%X{session:-&lt;unknown&gt;}] [%X{user:-&lt;unknown&gt;}]
                %message%n%exception
            </pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="org.springframework">
        <level value="INFO"/>
    </logger>

    <logger name="com.gbst">
        <level value="INFO"/>
    </logger>


    <logger name="java.sql">
        <level value="WARN"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>